.typed-heading {
    font-family: Ubuntu Mono, monospace;
    display: flex;
    align-items: center;
    line-height: 2rem;
}

.cursor {
    display: inline-block;
    width: 3px;
    margin-left: 4px;
    background: var(--text-colour);
}

.cursor.blink {
    animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
    0%, 100% {
        background: var(--text-colour);
    }
    40%, 50% {
        background: transparent;
    }
}